@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative);

$font: 'Cinzel Decorative', cursive;
$mainFont: 'Times New Roman', Serif;

body {
  height: 100%;
  width: 100%;
  background: #EFEFEF;
}

#login,#wrap {
  font-family: $mainFont;
  font-size: 1em;
}

#login  {
  text-align: center;
  margin-top: 5px;
  margin-top: 5px;
  a{
    text-decoration: none;
    color:#000;
    &:hover {
      color: #1e09ff;
    }
  }
}

#head {
  font-family: $font;
  font-size: 2.2em;
  text-align: center;
  padding: 10px;
  h2 {

  }
}

#wrap {
  height: 900px;
  width: 1000px;
  margin: 0 auto;
  background: darkseagreen;
}



