@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative);

$font: 'Cinzel Decorative', cursive;
$mainFont: 'Times New Roman', Serif;

body {
  height: 100%;
  width: 100%;
  background: #0d131a;
  color: #dde7dc;
}

#login,#wrap {
  font-family: $mainFont;
  font-size: 1em;
}

#login  {
  text-align: center;
  margin-top: 5px;
  margin-top: 5px;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 1;

  a{
    text-decoration: none;
    color:#0d131a;
    &:hover {
      color: #1d3586;
    }
  }
}

#head {
  height: 200px;
  width: 100%;
  background: #0d131a;
  font-family: $font;
  font-size: 2.2em;
  text-align: center;
  padding: 10px;
  margin: 20px auto;
  z-index: 2;

  h2 {
    margin-top: 88px;
  }
}

.spacer {
  height: 296px;
  width: 800px;
  background: #ecf0f1;
  position: absolute;
  margin-left:-400px;
  left: 50%;
  top: 0;
  z-index: -1;
}

#wrap {
  width: 800px;
  height: auto;
  margin: 0 auto;
  background: #ecf0f1;
  position: relative;
  color: #000000;
  z-index: 1;

}

#posts {
  width: 700px;
  margin: 0 auto;
  padding-bottom: 20px;

  section {
    height: auto;
    margin-bottom: 33px;
  }

  p.title {
    font-family: $mainFont;
    font-size: 1.1em;
    padding-top: 15px;
    padding-left: 5px;
  }

  p.content {
    font-family: $mainFont;
    font-size: 1.2em;
    padding-top: 5px;
    padding-left: 5px;
  }

  p.info{
    font-family: $mainFont;
    font-size: 1.1em;
    padding: 5px 5px 5px 0;
    width: 100%;
    text-align: right;
  }

  table {

    td {
      padding-left: 5px;
      padding-right: 5px;
    }

    td:nth-child(1) {
      padding-bottom: 5px;
    }

    td input[type=submit] {
      float: right;
    }
  }
}

/* This section is used for the Login Page to style the table and login. */

#LoginForm {
  height: 400px;
  width: 800px;
  margin: 0 auto;

  section {
    position: relative;
    margin-left: 50%;
    top: 100px;
    left: -175px;
    font-size: 1.3em;
    p {
      text-align: center;
        a {
          text-decoration: none;
          color: #000;
            &:hover {
              text-decoration: underline;
              color: #8a2be2;
            }
        }
    }
  }

  table {
    height: auto;
    width: 325px;

    td {
      padding-top: 15px;

      input[type=text], input[type=password] {
        border: 1px solid #000000;
        padding: 10px;
        background: #EFEFEF;
        border-radius: 20px;
      }
      input[type=submit] {
        border-radius: 10px;
        box-shadow: 3px;
        background: #EFEFEF;
      }
    }
  }

}

#foot {
  color: #dde7dc;
  background: #0d131a;
  p{
    font-family: $mainFont;
    padding: 20px 10px 20px 10px;
    text-align: center;
  }
}
























